---
# container scss for site.css
---

// Bulma CSS Framework
@import "bulma/bulma.sass";

// Font-awesome
// ------------

@import "fa/fontawesome.scss";
@import "fa/solid.scss";
@import "fa/brands.scss";

// Colours

$blue: #017dc5; 
$gold: #fec401;
$white: #ffffff;

#navbar {
	background-color: $blue;
	color: $white;
}
