<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="canonical" href="{{ meta.url }}/" />
    <meta property="og:site_name" content="{{ meta.siteName }}" />
    <meta property="og:title" content="{{ meta.siteTitle }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ meta.url }}/" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:image" content="{{ meta.url }}/img/social-share.png" />
    <meta property="og:image:alt" content="Page image for NE Bytes" />
    <meta name="twitter:image" content="{{ meta.url }}/img/social-share.png" />
    <meta name="twitter:image:alt" content="Page image for NE Bytes" />
    <meta name="description" content="{{ meta.siteDescription }}" />
    <meta name="twitter:description" content="{{ meta.siteDescription }}" />
    <meta property="og:description" content="{{ meta.siteDescription }}" />
    <link rel="stylesheet" href="{{ meta.url }}/css/bulma.min.css">
    <link rel="stylesheet" href="{{ meta.url }}/css/main.css">
    <link rel="icon" href="{{ meta.url }}/favicon.ico">
    <link rel="manifest" href="{{ meta.url }}/app.webmanifest" />
<head>
<body>
    <nav class="navbar is-transparent is-light" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ meta.url }}"><img src="{{ meta.url }}/img/logo.webp" ></a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarExpanded">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        {# Links - need canonical #}
        <div id="navbarExpanded" class="navbar-menu">
            <div class="navbar-start">
            {# TODO - js to toggle burger #}
                <!-- <a class="navbar-item" href="{{ meta.url }}/index.html#who">About Us</a> -->
                <a class="navbar-item" href="{{ meta.url }}/index.html#what">Next Meeting</a>
                <a class="navbar-item" href="{{ meta.url }}/index.html#where">Location</a>
                <a class="navbar-item" href="{{ meta.url }}/index.html#code">Code of Conduct</a>
                <a class="navbar-item" href="{{ meta.url }}/index.html#sponsors">Sponsors</a>
                <a class="navbar-item" href="{{ meta.url }}/blog/">Events</a>
            </div>
        </div>
      </div>
    </nav>

    <main>
        {{ content | safe }}
    </main>
    <footer class="footer has-background-dark">
        <section class="container">
            <ul>
                <li><span>See events on <a class="navbar-item" href="{{ meta.social.tito }}">Tito</a></span></li>
                <li><span>Follow us on <a class="navbar-item" href="{{ meta.social.twitter }}">Twitter</a></span></li>
                <li><span>See past events on <a class="navbar-item" href="{{ meta.social.youtube }}">You Tube</a></span></li>
            </ul>
        </section>    
    </footer>
</body>    
</html>
