<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head-content.njk' %}
<head>
<body>
{# 

page variables

page.data.title
page.data.summary
page.data.date: 2023-01-25
page.data.time: '19:00 - 20:30 GMT'
page.data.meeting: 
page.data.register: 'https://ti.to/ne-bytes/january-2023-smart-notes-for-developers'
page.data.calendar: 'link'
page.data.recording: 'youtube'

#}
    {% include 'navbar.njk' %}

    <main>
        {% include 'hero.njk' %}
        <section class="section is-medium">
            <div class="container">
                <div class="has-text-left mb-6">
                    <h1 class="title is-2 has-text-weight-bold">{{ page.data.title }}</h1>
                    {% if page.data.date %}<h2 class="subtitle"><span class="icon"><i class="fas fa-calendar"></i></span> {{ page.data.date | readableDate }} {% if page.data.time %} {{ page.data.time }} {% endif %}</h2>{% endif %} 
                    <p>
                    {% if page.data.register %}Please <a href="{{ page.data.register }}">register here</a> {% endif %}
                    {% if page.data.calendar %}and <a href="{{ page.data.calendar }}">add the event to your calendar</a>{% endif %}
                    </p>
                    {% if page.data.meeting %}
                    <h2 class="subtitle">Teams Meeting Link</h2>
                    <p>
                        <a href="{{ page.data.meeting }}">Join the event here</a>        
                    </p>
                    {% endif %}
                </div>
            {{ content | safe }}
            </div>
        </section>    
    </main>

    {% include 'footer.njk' %}
</body>    
</html>
