<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head-content.njk' %}
<head>
<body>
{# 

page variables

page.data.title
page.data.summary
page.data.date: 2023-01-25
page.data.time: '19:00 - 20:30 GMT'
page.data.meeting: 
page.data.register: 'https://ti.to/ne-bytes/january-2023-smart-notes-for-developers'
page.data.calendar: 'link'
page.data.recording: 'youtube'

#}
    {% include 'navbar.njk' %}

    <main>
        {% include 'hero.njk' %}

        <section class="section">
            <div class="container">
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="{{ meta.url }}/img/logo.webp" alt="NE Bytes logo">
                            </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">{{ title }}</p>
                                <p class="subtitle is-6"><a href="{{ meta.url}}/speakers/{{ speaker | slugify }}/">{{ speaker }}</a></p>
                            </div>
                        </div>
                
                        <div class="content">
                            <div id="event-datetime">
                            {% if date %}<span class="icon"><i class="fas fa-calendar"></i></span><time id="event-date" datetime="{{ date }}">{{ date | readableDate }} {% if time %} {{ time }} {% endif %}</time>{% endif %} 
                            </div>
                            <div id="event-registration">
                            {% if register %}Please <a href="{{ register }}">register here</a> {% endif %}
                            {% if calendar %}and <a href="{{ calendar }}">add the event to your calendar</a>{% endif %}

                            {% if meeting %}
                            <h2 class="subtitle">Teams Meeting Link</h2>
                            <p>
                                <a href="{{ meeting }}">Join the event here</a>        
                            </p>
                            {% endif %}
                            </div>

                            {% if recording %}
                            <h2 class="subtitle">YouTube</h2>
                            <p>
{# TODO youtube plugin #}
                                The recording of this session is <a href="{{ recording }}">available on YouTube</a>        
                            </p>
                            {% endif %}
                            <hr />
                            {{ content | safe }}
                        </div>
                    </div>
                </div>
            </div>
        </section>    
    </main>

    {% include 'footer.njk' %}

    <script src="{{ meta.url }}/js/site.js"></script>
</body>    
</html>
