<footer class="footer has-background-dark has-text-light">
    <section class="container">
        <ul>
            <li>Register for upcoming events on <a href="{{ meta.social.tito }}" target="_blank" rel="noopener noreferrer">Tito</a></li>
            <li>Follow us on <span class="icon"><i class="fa-brands fa-twitter"></i></span><a href="{{ meta.social.twitter }}" target="_blank" rel="noopener noreferrer">Twitter</a></li>
            <li>See our past events on <span class="icon"><i class="fa-brands fa-youtube"></i></span><a href="{{ meta.social.youtube }}" target="_blank" rel="noopener noreferrer">You Tube</a></li>
        </ul>
    </section>    
</footer>
