{# TODO Match colours to logo #}
<section class="hero is-default is-primary">
    <div class="hero-body">
        <p class="title has-text-warning">{{ meta.siteName }}</p>
        <p class="subtitle">{{ meta.siteDescription }}</p>
    </div>
</section>