<nav class="navbar is-transparent is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ meta.url }}"><img src="{{ meta.url }}/img/logo.webp" ></a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarExpanded">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    {# Links - need canonical #}
    <div id="navbarExpanded" class="navbar-menu">
        <div class="navbar-start">
        {# TODO - js to toggle burger #}
            <!-- <a class="navbar-item" href="{{ meta.url }}/index.html#who">About Us</a> -->
            <a class="navbar-item" href="{{ meta.url }}/index.html#what">Next Event</a>
            <a class="navbar-item" href="{{ meta.url }}/index.html#where">Location</a>
            <a class="navbar-item" href="{{ meta.url }}/index.html#code">Code of Conduct</a>
            <a class="navbar-item" href="{{ meta.url }}/index.html#sponsors">Sponsors</a>
            <a class="navbar-item" href="{{ meta.url }}/blog/">Events</a>
        </div>
    </div>
    </div>
</nav>