---
layout: default
---
<!-- hero -->
<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-size-1">
        {{ site.data.meta.title }}
      </h1>
    </div>
  </div>
</section>
<!-- /hero -->

<!-- short who we are -->
<section class="section" id="whoweare">
  <div class="container">
    
  </div>
</section>
<!-- /short who we are -->

<!-- recent events -->
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        {{ site.data.meta.description }}
      </div>
      <div class="column">
        <h2>Latest Events</2>
        {% comment %}
        {{ site.posts.first }}
        {% endcomment %}

        {% for post in site.posts limit:2 %}
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              {{ post.title }}
            </p>
          </header>
          <div class="card-content">
            <div class="content">
              {{ post.excerpt }}
              <a href="{{ post.url }}">details</a>
            </div>
          </div>
        </div>
        {% endfor %}
        </div>
    </div> 
</section>  
<!-- /recent events -->
  
<!-- code of conduct -->  
  <section class="section" id="codeofconduct">
  <div class="container"> 
    <h1 class="title is-size-1">Code of Conduct</h1>
    {% include code-of-conduct.html %}
  </div>
</section>
<!-- /code of conduct -->
  
<!-- sponsors -->
<section class="section" id="sponsors">
  <div class="container">
  </div>
</section>
<!-- /sponsors -->  
