<article class="tile is-child">
    <p class="title">Andrew Westgarth</p>
    <p class="content">
        <figure class="image is-4by3">
            <img src="https://bulma.io/images/placeholders/640x480.png">
        </figure>
        Andrew Westgarth is a Technical Architect at Sage (UK) Ltd working on large scale web applications.  
        Andrew is very active in the UK Developer Community, attending and speaking at multiple events, 
        supporting users and other User Groups. In the past he has spoken at the Irish Microsoft Technology 
        Conference, VBUG&#39;s National Two Day Conference; Developer Developer Developer 
        Day 5 and local User Group meetings. Andrew has experience in VB6/.NET; C#; ASP.NET and Internet 
        Information Services. Andrew&#39;s current technical interests include IIS 8.0/7.5/7.0, IIS Extensions 
        and Windows Azure; Personal Performance Improvement and Best Practices.
    </p>
    http://www.andrewwestgarth.co.uk/blog
    <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item" href="https://about.me/apwestgarth">
            <span class="icon is-small"><i class="fas fa-reply"></i></span>
          </a>
          <a class="level-item" href="http://twitter.com/apwestgarth">
            <span class="icon is-small"><i class="fas fa-retweet"></i></span>
          </a>
        </div>
      </nav>
</article>
