<article class="tile is-child">
    <p class="title">Ben Lee</p>
    <p class="content">
        <figure class="image">
            <img src="/images/ben.webp">
        </figure>
        Ben is a Senior Consultant for an IT services and consulting company called Waterstons based in 
        Durham. He specialises in Microsoft enterprise products such as System Center and ISA server. 
        Ben also has an interest in automation technologies and network security; some of his recent 
        projects have involved Configuration Manager and PKI implementations. Before joining Waterstons 
        at the start of 2009, Ben worked as Systems Administrator for the North East Chambers of Commerce. Ben 
        has not been officially involved in the IT Pro community before but is excited to be involved with 
        NEBytes and is looking forward to helping form the community in the North East.
    </p>
    <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item" href="http://www.bibble-it.com">
            <span class="icon is-small"><i class="fas fa-reply"></i></span>
          </a>
          <a class="level-item" href="http://twitter.com/bibbleq">
            <span class="icon is-small"><i class="fas fa-retweet"></i></span>
          </a>
        </div>
      </nav>
</article>
