Derek Graham



Derek Graham is a Principal Developer at Sage UK, helping to deliver cloud-based business solutions in .Net on Azure. He has experience in real-time motion control, ERP stock control and barcoding systems, software licensing, developer tooling and shrink-wrapped software. His main areas of interest are in using agile methods to help improve what we ship, XP, TDD, continuous and deliberate learning, visual thinking, design and, of course, code.

Blog: http://deejaygraham.github.io

Twitter: http://twitter.com/deejaygraham