<!-- event-card -->
<div class="card">
  <div class="card-content">
  {% if include.eventdate %}
    <div class="media">
      <div class="media-left">
      <!-- parse event date ? -->
        {{ include.eventdate }}
      </div>   
      <div class="media-content">
        <p class="title is-4">{{ include.title }}</p>
        <p class="subtitle is-6">{{ include.location }}</p>
        <p class="subtitle is-6">{{ include.content }}</p>
        <a href="">details</a>
      </div>
  {% endif %}
  
  </div>
</div>
<!-- event-card -->
