<!-- sub footer -->

<!-- Get Involved

Suggest a talk
Speak at an event

About Us

FAQ
Sponsors
Code of Conduct
-->
<!-- /sub footer -->


<!-- footer -->
<footer class="footer">
  {% include organizer-links.html %}
  <div class="content has-text-centered">
    <a href="{{ site.url }}/code-of-conduct/">Code of Conduct</a> | <a href="{{ site.url }}/events/">Events</a>
  </div>
  <div class="content has-text-centered">
    <p>&copy; 2020 NE Bytes
    </p>
    <!-- socials -->
  </div>
</footer>
<!-- /footer -->

<!-- JavaScript -->
<!-- burger menu -->
<script async type="text/javascript" src="{{ site.url }}/js/bulma.js"></script>
<!-- /JavaScript -->
