<nav id="navbar" class="navbar is-fixed-top is-transparent" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ site.url }}">
      <img src="{{ site.url }}/images/logo.png" alt="NE Bytes: Microsoft Technology Usergroup in the North East of England">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarContent">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  
  <div id="navbarContent" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="{{ site.url }}/about/">About</a>
      <a class="navbar-item"href="{{ site.url }}/codeofconduct/">Code of Conduct</a>
      <a class="navbar-item" href="{{ site.url }}/events/">Events</a>
<!--      <a class="navbar-item" href="{{ site.url }}/speaking/">
        Speaking
      </a>
      <a class="navbar-item" href="{{ site.url }}/contact">
        Contact
      </a>
    -->
    </div>
  </div>
</nav>
