<!DOCTYPE html>
<html lang="en" >
{% include head.html %}
<body class="has-navbar-fixed-top">
{% include navbar.html %}  
<section class="section">
  <div class="container"> 
    {% if page.title %}
    <h1>{{ page.title }}</h1>
    {% endif %}
    <table>
      <tbody>
      {% if page.speakers %}
      <tr><td>Speakers</td><td class="has-text-weight-bold">{% for speaker in page.speakers %}{{ speaker }}{% endfor %}</td></tr>
      {% endif %}
      {%if page.eventdate %}
      <tr><td>Date</td><td class="has-text-weight-bold">{{ page.eventdate }}</td></tr>
      {% endif %}
      {%if page.eventtime %}
      <tr><td>Time</td><td class="has-text-weight-bold">{{ page.eventtime }}</td></tr>
      {% endif %}
      {%if page.location %}
      <tr><td>Location</td><td class="has-text-weight-bold">{{ page.location }}</td></tr>
      {% endif %}
      {%if page.register %}
      <tr><td>Location</td><td class="has-text-weight-bold"><a href="{{ page.register }}">Register Here</a></td></tr>
      {% endif %}
      </tbody>
    </table>
{{ content }}
      {%if page.register %}
      <a href="{{ page.event }}">Register Here</a>
      {% endif %}
  </div>
</section>  
{% include footer.html %}
</body>
</html>
