<!DOCTYPE html>
<html lang="en" >
{% include head.html %}
<body class="has-navbar-fixed-top">
{% include navbar.html %}  
<section class="section">
  <div class="container"> 
    {% if page.title %}
    <h1 class="is-size-1">{{ page.title }}</h1>
    {% endif %}
    <table class="table">
      <tbody>
      {% if page.speakers %}
      <tr><td>Speakers</td><td>{% for speaker in page.speakers %}<strong>{{ speaker }}</strong>{% endfor %}</td></tr>
      {% endif %}
      {%if page.eventdate %}
      <tr><td>Date</td><td><strong>{{ page.eventdate }}</strong></td></tr>
      {% endif %}
      {%if page.eventtime %}
      <tr><td>Time</td><td><strong>{{ page.eventtime }}</strong></td></tr>
      {% endif %}
      {%if page.location %}
      <tr><td>Location</td><td><strong>{{ page.location }}</strong></td></tr>
      {% endif %}
      {%if page.register %}
      <tr><td>Register</td><td><a href="{{ page.register }}">Registration Page</a></td></tr>
      {% endif %}
      </tbody>
    </table>
{{ content }}
      {%if page.register %}
      <a href="{{ page.event }}">Register Here</a>
      {% endif %}
  </div>
</section>  
{% include footer.html %}
</body>
</html>
