<!DOCTYPE html>
<html lang="en" >
{% include head.html %}
<body class="has-navbar-fixed-top">
{% include navbar.html %}  
<section class="section">
  <div class="container"> 
    {% if page.title %}
    <h1>{{ page.title }}</h1>
    {% endif %}
    {% if page.speakers %}
    <h2>{% for speaker in page.speakers %}{{ speaker }}{% endfor %}</h2> 
    {% endif %}
    {%if page.location %}
    {{ page.location }}
    {% endif %}
    {%if page.date %}
    {{ page.date }}
    {% endif %}
    {%if page.time %}
    {{ page.time }}
    {% endif %}
    
{{ content }}
  </div>
</section>  
{% include footer.html %}
</body>
</html>
