---
layout: "base.njk"
title: NE Bytes Events
---

{% set newEvents = collections.posts | upcomingEvents %}
{% if newEvents and newEvents.length > 0 %}
<section class="section" id="events">
    <div class="container">
        <div class="has-text-centered">
            <h1 class="title is-2">Events</h1>
        </div>
        <p>Don't miss an event, register at our <a href="{{ meta.social.tito }}">events page on Tito</a></p>

        <ul>
        {% for event in newEvents %}
            <li><a href="{{ meta.url }}{{ event.url }}">{{ event.data.title }}</a></li>
        {% endfor %}
        </ul>
    </div>
</section> 
{% endif %}

{% set oldEvents = collections.posts | pastEvents %}
{% if oldEvents and oldEvents.length > 0 %}
<section class="section" id="events">
    <div class="container">
        <div class="has-text-centered">
            <h1 class="title is-2">Past Events</h1>
        </div>

        <ul>
        {% for event in oldEvents %}
            <li><a href="{{ meta.url }}{{ event.url }}">{{ event.data.title }}</a></li>
        {% endfor %}
        </ul>
    </div>
</section> 
{% endif %}
