---
layout: "base.njk"
title: NE Bytes Events
---

{% set newEvents = collections.posts | upcomingEvents %}
{% if newEvents and newEvents.length > 0 %}
<section class="section" id="events">
    <div class="container">
        <div class="has-text-left mb-6">
            <h1 class="title is-2">Events</h1>
            <h2 class="subtitle">Don't miss an event, <a href="{{ meta.social.tito }}">register at our events page on Tito</a></h2>
        </div>
        {% for event in newEvents %}
        {% if event.data.date %}<span class="icon"><i class="fas fa-calendar"></i></span> {{ event.data.date | readableDate }} {% if event.data.time %} {{ event.data.time }} {% endif %}{% endif %} 
        <p><a href="{{ meta.url }}{{ event.url }}">{{ event.data.title }}</a></p>
        {% endfor %}
    </div>
</section> 
{% endif %}

{% set oldEvents = collections.posts | pastEvents %}
{% if oldEvents and oldEvents.length > 0 %}
<section class="section" id="events">
    <div class="container">
        <div class="has-text-left mb-6">
            <h1 class="title is-2">Past Events</h1>
        </div>

        {% set currentYear = "" %}
        {% for event in oldEvents %}
            {% set postYear = event.date.getFullYear() %}
            {% if currentYear != postYear %}
                {% set currentYear = postYear %}
                <hr />
                <h2 class="subtitle">{{ postYear }}</h3>
            {% endif %}
            {% if event.data.date %}<span class="icon"><i class="fas fa-calendar"></i></span> {{ event.data.date | readableDate }}{% endif %} 
            <p><a href="{{ meta.url }}{{ event.url }}">{{ event.data.title }}</a></p>
        {% endfor %}
    </div>
</section> 
{% endif %}


{% for post in postslist | reverse %}
{% if showYear %}
      {% set postYear = post.date.getFullYear() %}
      {% if currentYear != postYear %}
      {% set currentYear = postYear %}
      <h3>{{ postYear }}</h3>
      {% endif %}
{% endif %}
  <li class=" mb-10 list-none">
    <h2><a href="{{ post.url | url }}">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a></h2>
  </li>
{% endfor %}