---
layout: "base.njk"
title: NE Bytes
---

{# Most Recent Blog Post #}
<section class="section" id="what">
    <div class="container">
        {% set latest_posts = collections.posts | reverse %}
        {% for post in latest_posts.slice(0,1) %}
        <div class="card">
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                    <figure class="image is-48x48">
                        <img src="{{ meta.url }}/img/logo.webp" alt="NE Bytes logo">
                    </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">{{ post.data.title }}</p>
                        <p class="subtitle is-6"><a href="{{ meta.url}}/speakers/{{ post.data.speaker | slugify }}/">{{ post.data.speaker }}</a></p>
                    </div>
                </div>
        
                <div class="content">
                    <div id="event-datetime">
                    {% if post.data.date %}<span class="icon"><i class="fas fa-calendar"></i></span><time id="event-date" datetime="{{ post.data.date }}">{{ post.data.date | readableDate }} {% if post.data.time %} {{ post.data.time }} {% endif %}</time>{% endif %} 
                    </div>
                    <div id="event-registration">
                    {% if post.data.register %}Please <a href="{{ post.data.register }}">register here</a> {% endif %}
                    {% if post.data.calendar %}and <a href="{{ post.data.calendar }}">add the event to your calendar</a>{% endif %}

                    {% if post.data.meeting %}
                    <h2 class="subtitle">Teams Meeting Link</h2>
                    <p>
                        <a href="{{ post.data.meeting }}">Join the event here</a>        
                    </p>
                    {% endif %}
                    </div>
                    <hr />
                    {{ post.templateContent | safe }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>    

{# Tito Page #}
<section class="section is-medium has-background-primary-light">
    <div class="container">
        <div class="has-text-left mb-6">
            <h1 class="title is-2 has-text-weight-bold">If you are interested...</h1>
        </div>
        <p class="mb-6">...register on our <a href="{{ meta.social.tito }}">Tito page</a></p>
        <figure class="image">
            <a href="{{ meta.social.tito }}"><img src="{{ meta.url }}/img/tito-screenshot.png"></a>
        </figure>
    </div>
</section>    

{# Location #}
{# background image #}
<section class="section is-medium has-background-light" id="where">
    <div class="container">
        <div class="has-text-left mb-6">
            <h1 class="title is-2 has-text-weight-bold">Location</h1>
        </div>
        <div class="notification">
            We have been a virtual group meeting through Microsoft Teams since the start of the 
            COVID-19 pandemic. We will remain virtual for the short-tem but regularly re-evaluate 
            with the hope of going back to in-person meet-ups soon. 
        </div>
        <div class="notification">
            <p>When we are back in-person ...</p>
            <p>We meet on the third Wednesday of every month except in December where we meet on the second Wednesday.</p>
            <p>Each meeting usually consists of two one hour long sessions from speakers from the UK, Europe and beyond. One session will 
            cover a Development topic and the second an IT Pro topic. In between the talks, there is a 30 minute break for food, refreshments 
            and time for you to chat with the other attendees.</p>
       </div>
       <div class="notification is-warning">
        We are looking for a new in-person venue! If you can offer us space for one evening a month, please <a href="{{ meta.email }}">get in touch</a>.
    </div>

</div>
</section>

{# Code of Conduct #}
<section class="section is-medium has-background-light" id="code">
    <div class="container">
        <div class="has-text-left mb-6">
            <h1 class="title is-2 has-text-weight-bold">Code of Conduct</h1>
        </div>
        <p>NE Bytes is dedicated to providing a harassment-free community for everyone, regardless of sex, gender identity or expression, sexual 
            orientation, disability, physical appearance, age, body size, race, nationality, or religious beliefs. We do not tolerate harassment of 
            community members in any form. Participants violating these rules may be sanctioned or expelled from the community at the discretion of 
            the NE Bytes organizers.</p>
        <p>Harassment includes offensive verbal or written comments related to sex, gender identity or expression, sexual orientation, disability, 
            physical appearance, age, body size, race, nationality, or religious beliefs, deliberate intimidation, threats, stalking, following, 
            harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual 
            attention. Sexual language and imagery is not appropriate for any NE Bytes event or communication channel. Community members asked to stop 
            any harassing behavior are expected to comply immediately.</p>
        <p>If a community member engages in harassing behavior, the NE Bytes organizers may take any action they deem appropriate, including warning the 
            offender, expulsion from the NE Bytes community. If you are being harassed, notice that someone else is being harassed, or have any other 
            concerns, please contact an NE Bytes organizer immediately, or as soon as you feel comfortable doing so.</p>
        <p>If you have questions or feedback about this Code of Conduct please contact one of the organizers.</p>
        <p>This Code of Conduct, like its inspiration from the <a href="https://www.meetup.com/pdxpython/pages/12061872/Code_of_Conduct/">Portland Python User Group</a>, 
            is licensed under the <https://creativecommons.org/publicdomain/zero/1.0/>Creative Commons Zero</a> license.</p>
    </div>
</section>

{# Sponsors #}

<section class="section is-medium " id="sponsors">
    <div class="container">
        <div class="has-text-left mb-4">
            <h1 class="title is-2 has-text-weight-bold">Our Sponsors</h1>
        </div>
        <p class="mb-6">Thanks to our sponsors for helping make this meetup happen! Interested in sponsoring? Contact us <a href="{{ meta.email }}">by email</a>.</p>
        <div class="columns">
            <div class="column is-one-half has-text-centered">
                <figure class="image is-128x128">
                    <a href="https://sage.com/"><img src="{{ meta.url }}/img/sage-logo-green.svg"></a>
                  </figure>
            </div>
            <div class="column is-one-half has-text-centered">
                <figure class="image is-128x128">
                    <a href="https://pragprog.com/"><img src="{{ meta.url }}/img/pragprog.svg"></a>
                  </figure>
            </div>
        </div>
    </div>
</section>

<section class="section has-background-light" id="organizers">
    <div class="container">
        <div class="has-text-left mb-6">
            <h1 class="title is-2 has-text-weight-bold">About the organizers</h1>
        </div>    
        
        <div class="card mb-6">
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <img class="is-rounded" src="{{ meta.url }}/img/derek.webp" alt="Derek Graham">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">Derek Graham</p>
                        </div>
                </div>
                <div class="content">
                    Derek Graham is a Principal Developer at Sage UK, helping to deliver cloud-based business solutions in .Net on Azure. He 
                    has experience in real-time motion control, ERP stock control and barcoding systems, software licensing, developer tooling 
                    and shrink-wrapped software. His main areas of interest are in using agile methods to help improve what we ship, XP, TDD, 
                    continuous and deliberate learning, visual thinking, design and, of course, code.
                </div>
                <footer class="card-footer">
                    <a href="http://deejaygraham.github.io" class="card-footer-item">Blog</a>
                    <a href="http://twitter.com/deejaygraham" class="card-footer-item">Twitter</a>
                    <a href="https://hachyderm.io/@deejaygraham" class="card-footer-item">Mastadon</a>
                </footer>
            </div>
        </div>

        <div class="card mb-6">
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <img class="is-rounded" src="{{ meta.url }}/img/brett.jpg" alt="Brett Miller">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">Brett Miller</p>
                        </div>
                </div>
                <div class="content">
                    Brett is a music obsessed, Microsoft MVP and Platform Engineer at Capgemini
                </div>
                <footer class="card-footer">
                    <a href="https://millerb.co.uk" class="card-footer-item">Blog</a>
                    <a href="https://twitter.com/BrettMiller_IT" class="card-footer-item">Twitter</a>
                </footer>
            </div>
        </div>

        <p>NE Bytes has had a few organizers over it's lifetime. You can read about the founders in <a href="{{ meta.url }}/hall-of-fame/">The Hall of Fame</a>.</p>
    </div>
</section>

{# Prospective Speakers #}
<section class="section is-medium" id="speakers">
    <div class="container">
        <div class="has-text-left mb-6">
            <h1 class="title is-2 has-text-weight-bold">Speaker?</h1>
        </div>
        <p>You don't need to be a professional speaker or an expert to talk at NE Bytes. We love to hear from people with a good idea 
            or an interesting talk proposal and we'll work with you to help refine your idea.</p> 
        <p>If you have a question or would like to propose a session, please reach out to either of the organizers on social media, or 
            <a href="{{ meta.email }}">email us</a>.</p>
    </div>
</section>
