@charset "utf-8";

/* brand colours 
*/

$blue: #0392FF; //0392ff
$gold: #FFD700; // ffbf00
$orange: #FF4900;

/* Set Bulma global variables
*/

$primary: $blue;
$warning: $gold;

@import "../../../node_modules/bulma/bulma.sass";

html {
    scroll-behavior: smooth;
}

#where {
    background-image: url(/img/quayside-narrow.jpg);
}

p {
    margin-bottom: 1em;
}

#what {
    padding-left: 0;
}